<!--<form *ngIf="active" (ngSubmit)="onSubmit()" #heroForm="ngForm" autocomplete="off" >-->
  <!--Barcode: <input type="number" name="barcode" pInputText [(ngModel)]="model.barcode"/>-->
  <!--Κωδικός: <input type="number" name="code" pInputText [(ngModel)]="model.code"/>-->
  <!--Όνομα: <input type="text" name="name" pInputText [(ngModel)]="model.name"/>-->
  <!--Επώνυμο: <input type="text" name="surname" pInputText [(ngModel)]="model.surname"/>-->
  <!--Επανάληψη: <input type="number" name="iteration" pInputText [(ngModel)]="model.iteration"/>-->
  <!--Εξοφλήθη: <input type="checkbox" name="paid" pInputText [(ngModel)]="model.paid"/>-->
  <!--Από:-->
  <!--<p-inputMask mask="99/99/9999" formArrayName="from" [(ngModel)]="model.validFrom" placeholder="ΜΜ/ΗΗ/ΕΕΕΕ"-->
               <!--slotChar="mm/dd/yyyy"></p-inputMask>-->
  <!--Εως: <input type="date" name="to" pInputText [(ngModel)]="model.validTo"/>-->
  <!--<input type="submit" name="ok" value="Υποβολή">-->
  <!--<input type="reset" name="cancel" value="Ακύρωση">-->
<!--</form>-->


<p-dataTable (click)="clicked($event)" [value]="prescriptions" [editable]="true">
  <p-column field="customerCode" header="Κωδικός Πελάτη" [editable]="false"></p-column>
  <p-column field="customerName" header="Όνομα" [editable]="false"></p-column>
  <p-column field="customerSurname" header="Επώνυμο" [editable]="false"></p-column>
  <p-column field="iteration" header="Επανάληψη" [editable]="true"></p-column>
  <p-column field="barcode" header="Barcode" [editable]="false"></p-column>
  <p-column field="paid" header="Εξοφλήθη" [editable]="false"></p-column>
  <p-column field="validFrom" header="Έναρξη" [editable]="false"></p-column>
  <p-column field="validTo" header="Λήξη" [editable]="false"></p-column>
</p-dataTable>
